.feature {
  position: relative;
}

.feature::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/src/assets/feature-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature__container > h4 {
  margin-inline: auto;
  margin-bottom: 2rem;
  max-width: 600px;
  font-family: var(--header-font);
  font-size: 2rem;
  font-weight: 300;
  color: #b82049;
  text-align: center;
  line-height: 2.5rem;
}

.feature__grid {
  display: grid;
  margin-top: 2rem;
}

.feature__content {
  display: grid;
  align-items: center;
}

.feature__container .section__header {
  color: var(--color-white);
}

.feature__content > div {
  z-index: 1;
  padding: 2rem;
  font: 1.1rem;
  background-color: var(--color-white);
  color: var(--text-dark);
}

.feature__content btn {
  margin-top: 1rem;
}

.feature__video > video {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .feature__content > div {
    transform: translateX(2rem);
  }

  .feature__video > video {
    transform: translateX(-2rem);
  }
}
