.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  max-width: fit-content;
  background-color: var(--primary-color);
  color: var(--color-white);
  transition: 0.3s;
  cursor: pointer;
}
