@import "./styles/sanitize.css";
@import "./styles/forms.css";
@import "./styles/assets.css";
@import "./styles/typography.css";
@import "./styles/reduce-motion.css";
@import "./styles/system-ui.css";
@import "./styles/ui-monospace.css";

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Color */
  --primary-color: #161616;
  --text-dark: #000000;
  --text-light: #767268;
  --text-extralight: #f3f4f6;
  --color-white: #ffffff;

  /* Max Website Width */
  --max-width: 1200px;

  /* Fonts */
  --body-font: "Poppins", sans-serif;
  --header-font: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
}

a {
  color: var(--color-white);
  text-decoration: none;
}
